In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
df_claim=pd.read_csv("claim automobile.csv")
df_claim

,Customer,Country,State Code,State,Claim Amount,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Claim Reason,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,US,KS,Kansas,276.351928,No,Basic,Bachelor,2/24/11,Employed,...,5,0,1,Corporate Auto,Corporate L3,Collision,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,US,NE,Nebraska,697.953590,No,Extended,Bachelor,1/31/11,Unemployed,...,42,0,8,Personal Auto,Personal L3,Scratch/Dent,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,US,OK,Oklahoma,1288.743165,No,Premium,Bachelor,2/19/11,Employed,...,38,0,2,Personal Auto,Personal L3,Collision,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,US,MO,Missouri,764.586183,No,Basic,Bachelor,1/20/11,Unemployed,...,65,0,7,Corporate Auto,Corporate L2,Collision,Call Center,529.881344,SUV,Medsize
4,HB64268,US,KS,Kansas,281.369258,No,Basic,Bachelor,2/3/11,Employed,...,44,0,1,Personal Auto,Personal L1,Collision,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,US,MO,Missouri,2340.598798,No,Basic,Bachelor,2/10/11,Employed,...,89,0,2,Personal Auto,Personal L1,Hail,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,US,MO,Missouri,309.651122,Yes,Extended,College,2/12/11,Employed,...,28,0,1,Corporate Auto,Corporate L3,Collision,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,US,MO,Missouri,816.389043,No,Extended,Bachelor,2/6/11,Unemployed,...,37,3,2,Corporate Auto,Corporate L2,Collision,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,US,MO,Missouri,752.444244,No,Extended,College,2/3/11,Employed,...,3,0,3,Personal Auto,Personal L2,Scratch/Dent,Branch,691.200000,Four-Door Car,Large
9133,Y167826,US,MO,Missouri,261.183687,No,Extended,College,2/14/11,Unemployed,...,90,0,1,Corporate Auto,Corporate L3,Other,Call Center,369.600000,Two-Door Car,Medsize

In [5]:
df_claim.shape

(9134, 26)

In [6]:
df_claim.columns

Index(['Customer', 'Country', 'State Code', 'State', 'Claim Amount',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Claim Reason',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [7]:
df_claim.dtypes

Customer                          object
Country                           object
State Code                        object
State                             object
Claim Amount                     float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Claim Reason                      object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [8]:
df_claim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   Country                        9134 non-null   object
 2   State Code                     9134 non-null   object
 3   State                          9134 non-null   object
 4   Claim Amount                   9134 non-null   float64
 5   Response                       9134 non-null   object
 6   Coverage                       9134 non-null   object
 7   Education                      9134 non-null   object
 8   Effective To Date              9134 non-null   object
 9   EmploymentStatus               9134 non-null   object
 10  Gender                         9134 non-null   object
 11  Income                         9134 non-null   int64
 12  Location Code                  9134 non-null   object
 13  Marital Status                 9134 non-null   object
 14  Monthly Premium Auto           9134 non-null   int64
 15  Months Since Last Claim        9134 non-null   int64
 16  Months Since Policy Inception  9134 non-null   int64
 17  Number of Open Complaints      9134 non-null   int64
 18  Number of Policies             9134 non-null   int64
 19  Policy Type                    9134 non-null   object
 20  Policy                         9134 non-null   object
 21  Claim Reason                   9134 non-null   object
 22  Sales Channel                  9134 non-null   object
 23  Total Claim Amount             9134 non-null   float64
 24  Vehicle Class                  9134 non-null   object
 25  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(18)
memory usage: 1.8+ MB

In [9]:
df_claim.describe()

,Claim Amount,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,800.494047,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,687.096761,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,189.800768,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,399.425179,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,578.018220,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,896.216704,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,8332.538119,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [ ]:
#lets check whether the null values are present in the dataset or not using heatmap
sns.heatmap(df_claim.isnull(),annot=True)
plt.show()

In [ ]:
#Lets check the null values without using visualization
df_claim.isnull().sum()

In [ ]:
df_claim.plot(kind='box',subplots=True,layout=(5,6))

In [ ]:
df_claim.hist(figsize=(15,15))

In [ ]:
sns.pairplot(df_claim)

In [ ]:
#Lets check the correlation matrix
df_claim.corr()

In [ ]:
sns.heatmap(df_claim.corr(),annot=True)

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(df_claim.corr(),cmap='Blues',annot=True)

In [ ]:
#Lets describe the matrix
df_claim.describe()

In [ ]:
#Lets check the skewness of the dataset
df_claim.skew()
#there is some skewness which needs to be treated ,by seeing we can say obly +ve skewness is signifiacnt and needs to be treated

In [ ]:
df_fruad=pd.read_csv("insurance fraud.csv")
df_fruad

In [ ]:
df_fruad.shape

In [ ]:
df_fruad.columns

In [ ]:
df_fruad.dtypes

In [ ]:
df_fruad.info()

In [ ]:
df_fruad.describe()

In [ ]:
#lets check whether the null values are present in the dataset or not using heatmap
sns.heatmap(df_fruad.isnull(),annot=True)
plt.show()

In [ ]:
#Lets check the null values without using visualization
df_fruad.isnull().sum()

In [ ]:
df_fruad.plot(kind='box',subplots=True,layout=(5,6))

In [ ]:
df_fruad.hist(figsize=(15,15))

In [ ]:
sns.pairplot(df_fruad)

In [ ]:
#Lets check the correlation matrix
df_fruad.corr()

In [ ]:
sns.heatmap(df_fruad.corr(),annot=True)

In [ ]:
plt.figure(figsize=(10,6))
sns.heatmap(df_fruad.corr(),cmap='Blues',annot=True)

In [ ]:
#Lets describe the matrix
df_fruad.describe()

In [ ]:
#Lets check the skewness of the dataset
df_fruad.skew()
#there is some skewness which needs to be treated ,by seeing we can say obly +ve skewness is signifiacnt and needs to be treated